* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: block;
    background-color: burlywood;
    text-align: center;
}

body h1 {
    color: red;
    font-size: 48px;
}

header p {
    font-size: 30px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

#start-btn {
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5%;
    padding: 10px;
}

#question-answers-list {
    text-align: center;
    list-style-type: none;
}

#question-answers-list li button {
    background-color: gold;
    border: none;
    color: black;
    padding: 10px;
    margin: 5px 0px;
    text-decoration: none;
    font-size: 16px;
}

#question-answers-list li button:hover {
    background-color: red;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.score-list {
    text-align: center;
    background-color: silver;
    color: black;
    border: 5px solid purple;
    margin: 0px 50px;
}

.score-item {
    margin: 15px 0px;
    background-color: gold;
    font-size: 26px;
}

span {
    font-size: 24px;
    color: red;
}